---
layout: default
---

{% comment %}additional_css : side-panel.css grid.css{% endcomment %}

{% assign lang = page.lang | default: site.lang | default: "en" %}

<div class="page article" id="presentation">
  {% include hero-page.html title=page.title %}
</div>

<section class="documentation">
  {% include sidebar-alpha.html %}
  <div class="main-pane">
    <div class="markdown">
      {{ content }}
    </div>
<!-- Version blockquote -->
    <h2 id="inscription">Prochaine session</h2>
      {% capture timestampNow %}{{ 'now' | date: '%s' }}{% endcapture %}
      {% capture timestampEnd %}{{ page.alpha-end | date: '%s' }}{% endcapture %}
      {% if timestampNow < timestampEnd %}
        <div class="text-quote">
          <ul>
            <li>
              <b>Quand ?</b><br />
              Du {{ page.alpha-start | date: "%d/%m/%y" }} au {{ page.alpha-end | date: "%d/%m/%y" }} {{ page.alpha-time }}
            </li>
            <li>
              <b>Où ?</b><br />
              <a href="{{ page.alpha-location-link }}" alt="">{{ page.alpha-location }}</a>
            </li>
            <li>
              <b>Quelle prise en charge ?</b><br />
              {{ page.alpha-catering }}
            </li>
            {% if page.alpha-more %}
              <li>{{ page.alpha-more }}</li>
            {% endif %}
            <li>
              <a href="{{ page.alpha-link }}" alt="">Réserver sa place en ligne</a>
            </li>
          </ul>
        </div>
      {% else %}
        <p>Les dates de la prochaine session de formation Alpha seront bientôt annoncées.</p>
        <p>Vous pouvez vous renseigner dès à présent auprès sur <a href="mailto:alpha@beta.gouv.fr" alt="">alpha@beta.gouv.fr</a>.</p>
      {% endif %}
<!--
    Version tableau
    <div class="panel">
      <h3 id="inscription">Prochaine session</h3>
      {% capture timestampNow %}{{ 'now' | date: '%s' }}{% endcapture %}
      {% capture timestampEnd %}{{ page.alpha-end | date: '%s' }}{% endcapture %}
      {% if timestampNow < timestampEnd %}
        <table class="table">
          <thead>
            <tr>
              <th>Quand ?</th>
              <th>Où ?</th>
              <th>Comment ?</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Du {{ page.alpha-start | date: "%d/%m/%y" }} au {{ page.alpha-end | date: "%d/%m/%y" }} {{ page.alpha-time }}</td>
              <td><a href="{{ page.alpha-location-link }}" alt="">{{ page.alpha-location }}</a></td>
              <td>{{ page.alpha-catering }}</td>
            </tr>
          </tbody>
        </table>
        {% if page.alpha-more %}
          <p>{{ page.alpha-more }}</p>
        {% endif %}
        <button class="button large" href="{{ page.alpha-link }}">S'inscrire à la prochaine session de formation Alpha</button>
      {% else %}
        <p>Les dates de la prochaine session de formation Alpha seront bientôt annoncées.</p>
        <p>Vous pouvez vous renseigner dès à présent auprès sur <a href="mailto:alpha@beta.gouv.fr" alt="">alpha@beta.gouv.fr</a>.</p>
      {% endif %}
    </div>
-->
  </div>
</section>
